@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.Main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.IMG-Container {
  padding: 10px;
}
.IMG {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 150px;
  align-items: center;
}
.Main .IMG-Container h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  transition: 1s ease-in-out;
  cursor: pointer;
}
p {
  color: gray;
  text-align: center;
  margin-bottom: 10px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: rgb(202 253 255/ 50%);
}
.Talk {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
i {
  font-size: 20px;
  color: #aed0d0;
}
.Content {
  color: #aed0d0;
  font-size: 15px;
  margin-right: 20px;
}
.input:hover{
  background: #00bbd48e;
  cursor: pointer;
}

/* .Main .IMG-Container h1:hover{

} */
